
.player{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width:120px;
    padding: 20px 0;
    background-color: rgba(0, 0, 0, 0.442);
    border-radius: 20px;
    
    span {
       font-size: 22px;
       color: white;
    }
    img {
        height: 50px;
        width: 50px;
        object-fit: cover;
        border-radius: 100%;
    }
}

.player-active{
    background-color: rgba(230, 148, 72, 0.782);
}