
.start-screen{
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #252432;
    >img {
        height: 90%;
        width: 90%;
    }
}

.start-label-box{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    >img{
        height: 200px;
        &:hover{
            filter: brightness(1.25);
            cursor: pointer;
        }
    }
}